*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Circe", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
}

.header__top--burger {
  display: none;
}

.header__main {
  padding: 26px 0 19px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  margin-right: 11px;
  width: 36px;
  height: 40px;
}
.logo__text {
  color: #000000;
  font-family: "Gilroy";
}
.logo__text--title {
  font-size: 18px;
  font-weight: 700;
}
.logo__text--descr {
  font-size: 12px;
  font-weight: 400;
}

.inf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Gilroy";
}
.city__text {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 700;
}
.city__dropdown {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #000000;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts__phone {
  color: #000000;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 700;
}
.contacts__btn {
  margin-left: 20px;
}
.contacts__wrapper {
  display: flex;
  align-items: center;
}
.contacts__wrapper--header {
  border-bottom: 1px #c6c6c6 solid;
}
.contacts__wrapper:hover {
  color: #41aaff;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
.btn:hover {
  color: #ffffff;
  opacity: 0.7;
  transition: 0.2s linear;
}
.btn__dark {
  background: linear-gradient(-214deg, #2c2a38 0%, #444452 100%);
  box-shadow: 0 4px 8px rgba(41, 41, 41, 0.25), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.btn__blue {
  box-shadow: 0 4px 8px rgba(103, 103, 103, 0.45), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-214deg, #0089f9 0%, #41aaff 99%, #41aaff 100%);
}
.btn__call {
  font-family: "Gilroy";
  padding: 12px 26px;
}
.btn__intro {
  padding: 14px 26px;
}
.btn__adv {
  padding: 14px 32px;
  box-shadow: 0 4px 8px rgba(103, 103, 103, 0.45), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
}
.btn__discount {
  padding: 16px 45px;
}
.btn__question {
  padding: 17px 55px;
}
.btn__contact {
  padding: 16px 36px;
  box-shadow: 0 4px 8px rgba(103, 103, 103, 0.45), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
}
.btn__footer {
  padding: 11px 31px;
}
.btn__city {
  display: flex;
  align-items: center;
  text-align: left;
  color: #000000;
  width: 156px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.header__menu--link {
  padding: 15px 68px;
  color: #000000;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 700;
}
.header__menu--link:hover {
  color: #0089f9;
  transition: 0.2s linear;
}

.active {
  padding: 15px 68px;
  background-color: #0089f9;
  color: #ffffff;
}
.active:hover {
  color: #ffffff;
  opacity: 0.7;
  transition: 0.2s linear;
}

.intro {
  width: 100%;
  padding-bottom: 111px;
  background-image: url("../img/bg/bgimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.intro__title {
  margin-top: 100px;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
}
.intro__subtitle {
  font-size: 27px;
  font-weight: 800;
  line-height: 56px;
}
.intro__inner {
  margin-top: 45px;
}
.intro__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__item--icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  fill: #00ffde;
}
.intro__item--text {
  max-width: 111px;
  line-height: 1;
  color: #ffffff;
  font-size: 15px;
  font-weight: 800;
}
.intro__form {
  margin-top: 45px;
}
.intro__form--title {
  font-size: 16px;
  font-weight: 800;
}
.intro__form--box {
  padding: 15px 0 12px 0;
}
.intro__img {
  position: absolute;
  bottom: -191px;
  right: 0;
}

.input {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  color: #000000;
  font-size: 14px;
  font-weight: 800;
}
.input__name--question {
  width: 100%;
  padding: 20px 31px;
}
.input__name--discount {
  width: 292px;
  padding: 15px 20px;
}
.input__name--contact {
  margin-right: 10px;
  width: 207px;
  padding: 17px 24px;
  border: 1px solid #e8e8e8;
}
.input__number--intro {
  width: 195px;
  padding: 14px 20px;
}
.input__number--question {
  width: 100%;
  padding: 20px 31px;
}
.input__number--contact {
  width: 153px;
  padding: 17px 24px;
  border: 1px solid #e8e8e8;
}
.input__text--question {
  width: 100%;
  padding: 44px 31px 51px 31px;
  resize: none;
}
.input__text--contact {
  margin: 10px 0;
  width: 370px;
  padding: 43px 26px 49px 26px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  resize: none;
}

.adv {
  box-shadow: 0 8px 20px rgba(187, 207, 222, 0.28);
  padding: 120px 0 137px 0;
}
.adv__title {
  padding: 0 32px 0 0;
}
.adv__descr {
  font-size: 16px;
  font-weight: 400;
}

.item {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  color: #000000;
  box-shadow: 0 8px 20px rgba(187, 207, 222, 0.38);
}
.item:hover {
  background: linear-gradient(-214deg, #2c2a38 0%, #444452 100%);
  color: #00ffde;
  transition: 0.2s linear;
}
.item__text {
  text-align: center;
}
.item__text--number {
  font-size: 32px;
  font-weight: 800;
}
.item__text--text {
  font-size: 16px;
  font-weight: 800;
}

.title {
  font-size: 38px;
  font-weight: 800;
}

.blue {
  color: #0089f9;
}

.work {
  padding: 77px 0 106px 0;
}
.work__title {
  text-align: center;
}
.work__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
}
.work__item {
  text-align: center;
}
.work__item--wrapper {
  position: relative;
}
.work__item--wrapper:first-child::before {
  display: none;
}
.work__item--wrapper::before {
  position: absolute;
  top: 50%;
  right: 100%;
  display: block;
  content: url("../img/next.svg");
  width: 15px;
  height: 15px;
}
.work__item--icon {
  fill: #0089f9;
}
.work__item--text {
  padding: 0 35px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.price__title {
  margin-bottom: 24px;
  text-align: center;
}
.price__more {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.price__more--link {
  color: #007bfa;
  text-decoration: underline;
}
.price__more--card {
  margin-left: 10px;
}
.price__money {
  display: flex;
  align-items: center;
}
.price__table {
  padding: 17px 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
}
.price__table .t-name {
  padding-left: 30px;
  text-align: left;
}
.price__table thead {
  box-shadow: 0 4px 8px rgba(41, 41, 41, 0.25), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-214deg, #2c2a38 0%, #444452 100%);
}
.price__table th {
  text-align: center;
  padding: 17px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.price__table .first {
  padding: 18px 30px;
  text-align: left;
  padding-left: 30px;
}
.price__table .t-row {
  border-radius: 4px;
  background-color: #edf2f5;
}
.price__table .t-row:hover {
  background-color: #dbe6eb;
  transition: 0.2s linear;
  cursor: pointer;
}
.price__table .t-row:hover .last {
  box-shadow: 0 4px 8px rgba(41, 41, 41, 0.25), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: linear-gradient(-214deg, #2c2a38 0%, #444452 100%);
}
.price__table .t-row:hover .order {
  color: #ffffff;
}
.price__table td {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.price__table .last {
  width: 139px;
  height: 49px;
}
.price__table .order {
  color: #000000;
}

.discount {
  padding: 85px 0;
}
.discount__inner {
  padding: 44px 66px 42px 66px;
  box-shadow: 0 7px 22px 2px rgba(39, 134, 251, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ebf1f7;
  background-image: url("../img/bg/remont-noutbukov-v-chite.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.discount__title {
  padding-right: 170px;
}
.discount__name {
  margin-right: 10px;
  width: 292px;
  padding: 16px 0 16px 20px;
}
.discount__form--box {
  padding-top: 25px;
  padding-bottom: 12px;
}

.reason {
  box-shadow: 0 0 65px rgba(187, 207, 222, 0.28);
  border-radius: 3px;
  border: 2px dashed #ffffff;
}
.reason__inner {
  padding: 70px 0;
  display: flex;
  align-items: center;
}
.reason--man {
  width: 100%;
  height: auto;
}
.reason__title {
  padding-right: 37px;
}
.reason__descr {
  font-size: 16px;
  font-weight: 400;
}

.review {
  padding: 86px 0 70px 0;
}
.review__title {
  text-align: center;
  margin-bottom: 45px;
}
.review-item {
  width: 487px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(187, 207, 222, 0.38);
  border-radius: 4px;
}
.review-item--img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-clip-path: polygon(0 0, 60% 0, 80% 100%, 0 100%);
          clip-path: polygon(0 0, 60% 0, 80% 100%, 0 100%);
  object-fit: cover;
  object-position: left;
}

.item-text {
  padding: 73px 40px 73px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}
.item-text--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
}
.item-text--name {
  font-size: 18px;
}
.item-text--date {
  font-size: 14px;
}
.item-text--text {
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

.question__inner {
  padding: 32px 0 49px 0;
  z-index: 0;
  position: relative;
  background-image: url("../img/bg/High-Quality-Workers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(41, 41, 41, 0.7);
  background-blend-mode: darken;
}
.question__title {
  z-index: 1000;
  text-align: center;
  color: #00ffde;
}
.question__form {
  padding: 27px 0 49px 0;
}
.question__form--bottom {
  display: flex;
  align-items: center;
}

.light {
  color: #ffffff;
}

.contact {
  background-image: url("../img/bg/bgmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.contact__inner {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 9px 43px rgba(71, 71, 71, 0.17);
  border-radius: 3px;
}
.contact h4 {
  padding: 0 20px;
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 400;
}
.contact__text {
  padding: 61px 45px 69px 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__text--number {
  color: #6ebcff;
  font-size: 27px;
  font-weight: 800;
}
.contact__text--quest {
  margin-bottom: 16px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.contact__form {
  display: flex;
}
.contact__form--bottom {
  display: flex;
  align-items: center;
  justify-content: start;
}
.contact__small {
  margin-left: 11px;
  width: 220px;
  text-align: left;
  font-size: 11px;
}

.footer {
  padding: 25px 0 33px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 43px rgba(30, 90, 243, 0.18);
  border: 2px dashed #ffffff;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__menu--link {
  margin-right: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.footer__menu--link:hover {
  color: #0089f9;
  transition: 0.2s linear;
}
.footer__text {
  margin-top: 11px;
  color: #6f6f6f;
  font-size: 12px;
  font-weight: 400;
}
.footer__text--policy {
  color: #6f6f6f;
  text-decoration: underline;
}
.footer__text--offer {
  margin-left: 23px;
}

.carret {
  margin-left: 55px;
}

/*Icons*/
.i-bphone {
  margin-right: 5px;
  width: 12px;
  height: 13px;
  fill: #000000;
}

.i-tech {
  width: 31px;
  height: 31px;
}

.i-phone {
  margin-bottom: 18px;
  width: 31px;
  height: 31px;
}

.i-car {
  width: 100px;
  height: 50px;
}

.i-furniture {
  margin-bottom: 20px;
  width: 29px;
  height: 29px;
}

.i-like {
  margin-bottom: 11px;
  width: 27px;
  height: 25px;
}

/*Swiper*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  margin-bottom: 50px;
  padding: 0 67px;
}
.swiper-pagination {
  margin-top: 40px;
}
.swiper-button-prev {
  width: 10px;
  height: 18px;
  color: #000000;
}
.swiper-button-next {
  width: 10px;
  height: 18px;
  color: #000000;
}

@media (max-width: 1024px) {
  .footer__menu--link {
    margin-right: 2px;
  }
}
@media (max-width: 991px) {
  /*Header*/
  .logo__img {
    margin-right: 11px;
    width: 30px;
    height: 24px;
  }
  .logo__text--title {
    font-size: 16px;
  }
  .logo__text--descr {
    font-size: 10px;
  }

  .header__main {
    padding: 2% 0;
  }

  .header {
    position: relative;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
  }
  .header__menu--link {
    display: none;
  }
  .header__top--burger {
    display: block;
    outline: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
  }

  .inf {
    display: none;
  }

  .i-menu {
    width: 20px;
    height: 20px;
    fill: #0089f9;
  }

  /*Intro*/
  .intro__title {
    margin-top: 0;
    font-size: 50px;
    text-align: center;
  }
  .intro__inner {
    margin-top: 5%;
  }
  .intro__form {
    text-align: center;
    margin-top: 7%;
  }
  .intro__form--title {
    font-size: 16px;
    font-weight: 800;
  }
  .intro__form--box {
    text-align: center;
    padding: 15px 0 12px 0;
  }
  .intro__img {
    display: none;
  }

  /*Advantages*/
  .adv {
    padding: 5% 0;
  }
  .adv__title {
    padding: 0 32px 0 0;
  }
  .adv__descr {
    font-size: 16px;
    font-weight: 400;
  }

  /*Work*/
  .work {
    padding: 5% 0;
  }
  .work__title {
    text-align: center;
  }
  .work__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
  }
  .work__item {
    margin-bottom: 20px;
    text-align: center;
  }
  .work__item--wrapper {
    position: relative;
  }
  .work__item--wrapper::before {
    display: none;
  }

  /*Discount*/
  .discount {
    padding: 5% 0;
  }
  .discount__inner {
    padding: 2% 0x;
    box-shadow: 0 7px 22px 2px rgba(39, 134, 251, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #ebf1f7;
    background-image: url("../img/bg/remont-noutbukov-v-chite.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .discount__title {
    text-align: center;
    color: #ffffff;
    padding-right: 0;
  }
  .discount__name {
    margin-right: 10px;
    width: 292px;
    padding: 16px 0 16px 20px;
  }
  .discount__form {
    text-align: center;
  }
  .discount__form--box {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 12px;
  }

  /*Reasons*/
  .reason__inner {
    padding: 3% 0;
  }
  .reason--man {
    width: 100%;
    height: auto;
  }
  .reason__title {
    text-align: center;
    padding-right: 0;
  }

  /*Review*/
  .review {
    padding: 5% 0;
  }

  /*Contact*/
  .contact__text {
    padding: 4% 2%;
  }

  /*Footer*/
  .footer {
    padding: 2% 0;
  }
  .footer__text {
    margin-top: 0;
    text-align: center;
  }
  .footer__text--offer {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  /*Header*/
  .logo__text--title {
    font-size: 13px;
  }
  .logo__text--descr {
    font-size: 12px;
  }

  /*Intro*/
  .intro {
    background-position: top;
  }
  .intro__title {
    font-size: 40px;
  }
  .intro__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  /*Price*/
  .price__table th {
    font-size: 12px;
  }
  .price__table td {
    font-size: 12px;
  }
  .price__more {
    font-size: 12px;
  }

  /*Discount*/
  .discount__inner {
    background-position: bottom;
  }

  /*Questions*/
  .light {
    margin-left: 60px;
    text-align: right;
  }

  .question__form {
    padding: 2% 0;
  }

  /*Contact*/
  .contact h4 {
    margin-bottom: 0;
  }

  /*Footer*/
  .footer__menu--link {
    margin-right: 10px;
  }

  /*Review*/
  .review-item {
    width: 350px;
  }

  .item-text {
    padding: 40px 20px 40px 0;
  }

  /*Swiper*/
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    margin-bottom: 50px;
    padding: 0 67px;
  }
  .swiper-pagination {
    margin-top: 40px;
  }
  .swiper-button-prev {
    width: 10px;
    height: 18px;
    color: #000000;
  }
  .swiper-button-next {
    width: 10px;
    height: 18px;
    color: #000000;
  }
  .swiper-slide {
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(187, 207, 222, 0.38);
    border-radius: 4px;
  }
}
@media (max-width: 758px) {
  .btn__discount {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .logo {
    margin: 0 auto;
  }
  .logo__text--title {
    line-height: 1;
  }
  .logo__text--descr {
    line-height: 1;
  }

  .intro__title {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1;
  }
  .intro__subtitle {
    text-align: center;
    font-size: 17px;
    line-height: 1;
  }
  .intro__item {
    margin-bottom: 10px;
  }
  .intro__form {
    margin-top: 0;
  }

  .price__more {
    margin-left: 0;
  }
  .price__money {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .discount__inner {
    padding: 2% 1%;
  }
  .discount__form--box {
    padding: 0;
  }

  small {
    color: #ffffff;
  }

  .input__name--discount {
    width: 250px;
  }
  .input__text--contact {
    padding: 17px 30px;
  }
  .input__text--question {
    padding: 17px 30px;
  }

  .light {
    padding: 0 5%;
    margin-left: 0;
    text-align: center;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
  }
  .contact__form--bottom {
    display: flex;
    flex-direction: column;
  }
  .contact__small {
    margin-top: 10px;
    color: #000000;
  }

  .input__name--contact {
    margin-right: 0;
    width: 100%;
    padding: 17px 24px;
    border: 1px solid #e8e8e8;
  }
  .input__number--contact {
    width: 100%;
    padding: 17px 24px;
    border: 1px solid #e8e8e8;
  }
  .input__text--contact {
    width: 100%;
    padding: 17px 24px;
    border: 1px solid #e8e8e8;
  }

  .btn__adv {
    padding: 10px 60px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .btn__question {
    margin-bottom: 10px;
  }
  .btn__footer {
    padding: 5px 10px;
  }

  .footer__menu--link {
    font-size: 13px;
    margin-right: 3px;
  }

  .contacts {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 385px) {
  .btn__intro {
    width: 100%;
    margin-top: 10px;
  }
  .btn__discount {
    width: 100%;
  }

  .input__name--discount {
    width: 100%;
  }
  .input__number--intro {
    width: 100%;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
  }
  .footer__menu {
    text-align: center;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .review-item {
    width: 250px;
  }
  .review-item--img {
    display: none;
  }

  .item-text {
    padding: 3% 2%;
  }

  .swiper-wrapper {
    padding-left: 7%;
  }
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}